.dropdown{
    margin-right: 25px;
}

.navbar-brand img{
    margin-right: 20px;
}

.navbar-brand text{
    margin-right: 20px;
}

#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}

#carousel {
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
}
#main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;
}

.Suppliers{
    margin-top: 100px;
}
.Suppliers .shadow{
    margin-top: 65px;
    margin-bottom: 35px;
    padding-top: 5px;
    border-top: solid rgb(142, 143, 138) .5px;
}

.Supplier-id{
    width:300px;
    margin: auto;
}

.Buyers{
    margin-top: 75px;
    border-top: solid rgb(142, 143, 138) .5px;
}

.Buyers .row{
    margin-top: 100px;
}

.Steps{
    margin-top: 35px;
    text-align: center;
    list-style-position: inside;
}

.Shadow{
    margin-top: 5px;
    text-align: center;
}

.AuctionSetup .Name{
    margin-top: 80px;
    width:500px;
    margin-right: 1050px;
    margin-left: auto;
}

.Participants{
    margin-top: 20px;
    width: 250px;
    margin-right: 1050px;
    margin-left: auto;
}

.AuctionType{
    margin-top: 20px;
    width: 350px;
    margin-right: 1050px;
    margin-left: auto;
}

.Duration{
    margin-top: 20px;
    width: 250px;
    margin-right: 1050px;
    margin-left: auto;
}

.Restriction{
    margin-top: 20px;
    width: 250px;
    margin-right: 1050px;
    margin-left: auto;
}
.ExtendedTime{
    margin-top: 20px;
    width: 290px;
    margin-right: 1050px;
    margin-left: auto;
}
.row-1{
    margin-top: 60px;
    width: 100%;
    margin-right: 900px;
    margin-left: 55px;
}

.row-1 .submit{
    margin-top: 190px;
}

.SearchFile{
    margin-top: 40px;
}